.account
	.login
		button(data-toggle="modal" data-target="#modal-login")
			span.icon-avatar
			| Login
			span.icon-login
.main-nav
	.main-nav__logo-wrapper
		img.logo()
	nav.main-nav__nav
		ul
			li: a Главная
			li: a O школе
			li: a Курсы
			li: a Галерея
			li: a Контакты

	form.main-nav__search-form
