extends ./templates/_base.jade

block layout-type
	- var layout = 'account'
	- var account = 'teacher'
	- var accountHeader = 'Личный кабинет'
block content
	table.new_users
		thead
			tr
				td Новые пользователи
				td Дата регистрации
		tbody
			tr
				td
					a(href='#')
						span.photo
							img(src='http://cs.pikabu.ru/images/previews_comm/2013-12_4/13871462564350.jpg')
						span.name Уася Уася
				td 
					time.date 15.10.2015

			tr
				td
					a(href='#')
						span.photo
							img(src='http://cs.pikabu.ru/images/previews_comm/2013-12_4/13871462564350.jpg')
						span.name Уася Уася
				td 
					time.date 15.10.2015
			tr
				td
					a(href='#')
						span.photo
							img(src='http://cs.pikabu.ru/images/previews_comm/2013-12_4/13871462564350.jpg')
						span.name Уася Уася
				td 
					time.date 15.10.2015