html
	head
		meta(charset='utf-8')
		title Фотошкола
		meta(name="viewport", content="initial-scale=1, maximum-scale=1")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-title" content="Фотошкола")
		//--- Fonts ---//
		link(href='https://fonts.googleapis.com/css?family=Comfortaa:400,300,700|Noto+Sans:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		//--- Styles ---//
		link(rel='stylesheet', href='./styles/css/main.css')
		
		block head-additional
		//--- Js ---//
		block head-js
			block head-js-libs
				//--- jQuery ---//
				script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
				//--- HTML5 tags for IE9+ ---//
				script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
				//--- Bootstrap Modals and Tabs ---//
				script(src="./js/bootstrap.min.js")
				//--- Validation ---//
				script(src='./js/jquery.validate.min.js')
				script(src='./js/jquery.validate.unobtrusive.min.js')
			block head-js-custom
				script(src='./js/forms.js')
			block head-js-additional

	body
		block body
			header.header
				include ../blocks/_header.jade
			main.main
				block main
			footer.footer
				include ../blocks/_footer.jade

			block modals
				include ../blocks/_modal-login.jade
				block additional-modals
		block scripts
